# Wprowadzenie do Python (część 2)

## Wyjątki

Wyjątki to błędy, które mogą pojawić się podczas wykonania programu. Po wystąpieniu wyjątku program jest przerywany i wznawiany w miejscu, w którym przewidziano obsługę błędu.

In [1]:
def divide(x, y):
    try:
        result = x / y
        print("divided")
    except ZeroDivisionError:
        print("zero")
    else:
        print("result = ", result)
    finally:
        print("good bye")

In [2]:
divide(1, 2)

divided
result =  0.5
good bye

In [3]:
divide(1, 0)

zero
good bye

### Zadanie

Zmodyfikuj funkcję divide, aby obsłużyć nowy wyjątek.

In [6]:
def divide(x, y):
    try:
        result = x / y
        print("divided")
    except TypeError:
        print("not int")
    else:
        print("result = ", result)
    finally:
        print("good bye")

divide('a', 1)
divide(2, 1)

not int
good bye
divided
result =  2.0
good bye

## Klasy

Python umożliwia programowanie obiektowe. Możliwe jest dziedziczenie. Wszystkie składowe klasy są publiczne, a funkcje podlegają wirtualizacji.

In [53]:
class Calculator():
    static_value = 1

    def __init__(self, base_value, nic):
        self.class_value = base_value
        self.cos = 100
        self.nic = 0
        
    def sum(self, value, nic):
        return self.static_value + self.class_value + value + self.cos + nic + self.nic

In [57]:
a = Calculator(10,100)
print(Calculator.static_value)
print(a.class_value)
a.class_value = 10
print(a.sum(1,1))

1
10
113

In [30]:
class SuperCalculator(Calculator):
    def __init__(self, base_value):
        Calculator.static_value = 10
        super().__init__(base_value)
        self.class_value += 1

    
    def sum(self, value):
        return self.static_value + self.class_value + value * 2

In [34]:
b = SuperCalculator(1)
c = SuperCalculator(2)
print(SuperCalculator.static_value)
print(b.static_value)
print(c.static_value)
print(b.class_value)
print(b.sum(1))

10
10
10
2
14

### Zadanie

Utwórz klasę Person przechowującą imię i nazwisko wraz z metodą drukującą dane osoby w formacie Imię NAZWISKO (bez względu jak zostały wcześniej ustawione). Utwórz obiekt nowej klasy i wywołaj jego metodę. Wskazówka: skorzystaj z `title()` i `upper()`, domyślna metoda zwracająca obiekt w czytelnej formie ma zazwyczaj nazwę `__str__`.

In [90]:
class Person():
    def __int__(self, name_in, surname_in):
        self.name = name_in
        self.surname = surname_in
    def __str__(self):
        return self.name.title() + self.surname.upper()

In [92]:
p = Person('jAcek', 'placek')
print(p)

TypeError: object() takes no parameters

## Wyrażenia lambda

In [96]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
print(squared)

[1, 4, 9, 16, 25]

In [95]:
items = [1, 2, 3, 4, 5]

def square(x):
    return x**2

squared = list(map(square, items))
print(squared)

[1, 4, 9, 16, 25]

Wyrażenia lambda nazywane są inaczej funkcjami anonimowymi.

In [191]:
items = [1, 2, 3, 4, 5]
square = lambda x: x**2
squared = list(map(square, items))
print(squared)

[1, 4, 9, 16, 25]

In [194]:
items = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**3, items))
print(squared)
type(squared)

[1, 8, 27, 64, 125]

list

In [199]:
pp = list(map(lambda x: x.upper(), {'Piotr', 'Marcin'}))
print(pp + list('ddd'))

['PIOTR', 'MARCIN', 'd', 'd', 'd']

Funkcja anonimowa może mieć kilka argumentów. Wywołaj funkcję `doIt` w celu wykonania dodawania i mnożenia dwóch liczb wykorzystując wyrażenia lambda.

In [204]:
def doIt(operation, a, b):
    print(a)
    print(b)
    return operation(a, b)

In [215]:
d = doIt(lambda x, y: x+y, 2, 2)
print('Wynik ' + str(d))
m = doIt(lambda x, y: x*y, 3, 3)
print('Wynik ' + str(m))

2
2
Wynik 4
3
3
Wynik 9

### Zadanie

Utwórz strukturę zawierającą unikalne imiona zaczynające się na 'A'. Skorzystaj z funkcji `filter`, która przyjmuje funkcję zwracającą dla danego argumentu prawdę lub fałsz, w zależności czy argument ten spełnia warunki czy też nie.

In [224]:
names = ['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Anna', 'Rafał', 'Alek', 'Alek']

print(set(filter(lambda name: name.startswith("A"), names)))

{'Aldona', 'Anna', 'Adam', 'Alek', 'Aleksandra'}

### Zadanie

Znajdź sumę pierwszych 10 liczb. Skorzystaj z funkcji `reduce`. Wskazówka: funkcja lambda przyjmuje jako argument dotychczas wyznaczoną wartość i kolejny element.

In [245]:
from functools import reduce
import random
#mylist = [random.randint(1, 100) for k in range(100)]



print(reduce((lambda x, y: x + y), range(5,15)))

95

## Sortowanie

Listy w Pythonie mogą być sortowane w miejscu.

In [270]:
names = ['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Elżbieta', 'Rafał']
names.sort()
print(names)
names.sort(reverse = True)
print(names)
names.sort(key = lambda x: len(x),reverse = True)
print(names)
names.sort(key = lambda x: len(x))
print(names)
names.sort(key = lambda x: (len(x), x)) # po 2 kluczach
print(names)

['Adam', 'Aldona', 'Aleksandra', 'Anna', 'Elżbieta', 'Katarzyna', 'Małgorzata', 'Piotr', 'Rafał', 'Zofia']
['Zofia', 'Rafał', 'Piotr', 'Małgorzata', 'Katarzyna', 'Elżbieta', 'Anna', 'Aleksandra', 'Aldona', 'Adam']
['Małgorzata', 'Aleksandra', 'Katarzyna', 'Elżbieta', 'Aldona', 'Zofia', 'Rafał', 'Piotr', 'Anna', 'Adam']
['Anna', 'Adam', 'Zofia', 'Rafał', 'Piotr', 'Aldona', 'Elżbieta', 'Katarzyna', 'Małgorzata', 'Aleksandra']
['Adam', 'Anna', 'Piotr', 'Rafał', 'Zofia', 'Aldona', 'Elżbieta', 'Katarzyna', 'Aleksandra', 'Małgorzata']

Można również wykorzystać funkcję `sorted`, która zwróci nową strukturę.

In [253]:
names = ['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Elżbieta', 'Rafał', '100', '99']
numbers = [1, 2, 100, 99, 3]
sortedNames = sorted(names)
sortedNums = sorted(numbers)
print(names)
print(sortedNames)
print(sortedNums)

['Katarzyna', 'Aldona', 'Adam', 'Piotr', 'Małgorzata', 'Aleksandra', 'Anna', 'Zofia', 'Elżbieta', 'Rafał', '100', '99']
['100', '99', 'Adam', 'Aldona', 'Aleksandra', 'Anna', 'Elżbieta', 'Katarzyna', 'Małgorzata', 'Piotr', 'Rafał', 'Zofia']
[1, 2, 3, 99, 100]

In [254]:
#lista slownikow

people = [ { 'name': 'Anna', 'age': 18},  { 'name': 'Rafał', 'age': 20},  { 'name': 'Tomasz', 'age': 34}, { 'name': 'Maja', 'age': 28} ]
sorted(people, key = lambda x: x['age'])

[{'age': 18, 'name': 'Anna'},
 {'age': 20, 'name': 'Rafał'},
 {'age': 28, 'name': 'Maja'},
 {'age': 34, 'name': 'Tomasz'}]

### Zadanie

Utwórz listę imion osób w kolejności od najstarszej do najmłodszej. Lista ma zawierać wyłącznie imiona.

In [274]:
list(map(lambda x: x['name'], sorted(people, key = lambda x: x['age'], reverse=True)))

['Tomasz', 'Maja', 'Rafał', 'Anna']

### Zadanie

Wykorzystując listę obiektów Car utwórz listę aut od najmniejszego przebiegu do największego.

In [302]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    def __str__(self):
        return self.name + ' (' + str(self.mileage) + ')'
    def __lt__(self, inner):
        return self.mileage < inner.mileage
            
    
cars = [ Car('Tico', 10010), Car('Audi', 20000), Car('Skoda', 54000), Car('Polonez', 6700)]
for c in cars:
    print(str(c))

Tico (10010)
Audi (20000)
Skoda (54000)
Polonez (6700)

In [311]:

#carss = sorted(cars, key = lambda car: car.mileage)
carss = sorted(cars)
for c in carss:
    print(str(c))

print(cars[0] > cars[1])
print(cars[0] < cars[1])
print(cars[0] == cars[1])
print(cars[0] != cars[1])

Polonez (6700)
Tico (10010)
Audi (20000)
Skoda (54000)
False
True
False
True

Rozszerz klasę Car o metodę `__lt__(self, inner)` i wykorzystaj `sorted` bez żadnych dodatkowych argumentów.