# Wprowadzenie do Python

In [ ]:
"""
typy podstawowe
i
deklaracja zmiennych
"""
# typy podstawowe i deklaracja zmiennych
i = 3  # integer (int)
f = 1.1  # float
s = 'Hi'  # str (unicode)
c = 1+2j  # complex
bo = True  # bool
o = None  # NoneType

In [ ]:
# operatory arytmetyczne
# + - * / %
# exponentiation **

In [ ]:
# operatory relacyjne
# == != < <= > >=

In [ ]:
# operatory logiczne
# and or not

In [ ]:
# operatory bitowe
# & | ^ ~ << >>

In [ ]:
# operatory przypisania
# = += -= *= /= %= <<= >>= &= ^= |=

In [ ]:
# instrukcja warunkowa
if i == 0:
    print('i != 0')
print('ddddk')

In [ ]:
if i < 0:
    print('i less than 0')
elif i == 0:
    print('i == 0')
else:
    print('i is positive')

In [ ]:
j = 1 if i == 3 else 2
print('j = ' + str(j))

In [ ]:
# pętle
i = 3
while i > 0:
    print('while i = ' + str(i))
    i -= 1

Zaimplementuj program drukujący kwadraty liczb od 1 do 10.

In [ ]:
podstawa=10
potega=2
while podstawa > 0:
        print(podstawa**potega)
        podstawa -= 1

In [ ]:
i = 5
while i > 0:
    i -= 1
    if i == 4:
        continue
    print('while continue i = ' + str(i))

In [ ]:
i = 3
while True:
    i -= 1
    print('while break i = ' + str(i))
    if i == 0:
        break

Zaimplementuj program:
* drukujący tabliczkę mnożenia w zakresie od 1 do 10,
* drukujący tabliczkę mnożenia w zakresie od 1 do 10 dla liczb parzystych,
* drukujący tabliczkę mnożenia w zakresie od 1 do 10 dla liczb parzystych poza 6.

In [23]:
i = 1
j = 1
while i <= 10:
    if not i%2==0 or i==6:
        continue
    while j <=10:
        
        print(str(i) + ' x ' + str(j) + ' = ' + str(i*j))
        j += 1
    j = 1
    i += 1

KeyboardInterrupt:

In [27]:
# operacje na tekście
t = "tekst   "
print(t.capitalize())
print(t.lower())
print(t.upper())
print(t.count("t"))
print(t.encode('utf-8'))
print(t.startswith('t'))
print(t.endswith('t'))
print(t.find('k'))
print(len(t), len(t.strip()))
print(t.isalnum())
print(t.isdigit())
print(t.islower())
print(t.isspace())
print(t.isupper())
print(t.join(['1','2','3']))
', '.join(['1','2','3'])

Tekst
tekst
TEKST
2
b'tekst   '
True
False
2
8 5
False
False
True
False
False
1tekst   2tekst   3

'1, 2, 3'

In [100]:
# sekwencje
h = "World"
w = "Hello"
h, w = w, h # zamiana zmiennych
hello = h + " " + w + "!"

print(hello[int(2/3)])
#print(hello[0:])
#print(hello[0:2])
#print(hello[6::2])
#print(hello[:2])
#print(hello[-2*2:-1])

H

In [ ]:
for i in hello:
    print(i)

In [88]:
for i in range(3):
    print(i)
    j += i
print(type(j))

y=2/2
print(type(y))

#print(type(y))

0
1
2
<class 'int'>
<class 'float'>

Wydrukuj liczby nieparzyste w zakresie od 0 do 100 podzielne przez 3 ale nie przez 15.

In [98]:
z=0
x=0
for i in range(3, 101, 3):
    x += 1
    if i%15!=0 and i%2==0:
        z += 1
        print(i)
print("ilosc iteracji",x,z)


z=0
x=0
for i in range(1, 101, 2):
    x += 1
    if i%3==0 and not i%15==0:
        z += 1
        print(i)
print("ilosc iteracji",x,z)

6
12
18
24
36
42
48
54
66
72
78
84
96
ilosc iteracji 33 13
3
9
21
27
33
39
51
57
63
69
81
87
93
99
ilosc iteracji 50 14

In [80]:
for x in range(1,11):
    for y in range(1,11):
        print (x,"x",y,"=",x*y)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [101]:
# krotka
t = (1, 3, 'text', [6, 5], 1.2)
for i in t:
    print("tuple " + str(i))

tuple 1
tuple 3
tuple text
tuple [6, 5]
tuple 1.2

In [116]:
# lista
l = [1, 3, 'text', [6, 5], 1.2]
l.remove(1.2)
print(l.count)
print(l)
l.append(5)
for i in l:
    print("list " + str(i))

<built-in method count of list object at 0x7fd77084d3c8>
[1, 3, 'text', [6, 5]]
list 1
list 3
list text
list [6, 5]
list 5

In [119]:
# zbiór
s = {1, 3, 'text', 1.2}
s.remove(1)
s.add(5)
s.add(5)
for i in s:
    print("set " + str(i))

set 1.2
set 3
set 5
set text

In [121]:
# słownik
person = {'name': 'John', 'surname': 'Smith'}
print(person)
person['age'] = 30
person['animal'] = 'Dog'
print(person)
if 'age' in person:
    print('{} age: {}'.format(person['name'], person['age']))

{'name': 'John', 'surname': 'Smith'}
{'name': 'John', 'surname': 'Smith', 'age': 30, 'animal': 'Dog'}
John age: 30

In [127]:
def sub(a=10, b=1):
    # function sample
    print("sub")
    return a - b


# function call
print(sub(2, 1))
print(sub(b=30, a=20))
print(sub(1))
print(sub())

sub
1
sub
-10
sub
0
sub
9